<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <i class="icon fa fa-user-circle fa-7x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="title">
        <i class="fa fa-user-circle" aria-hidden="true">
        </i> Your Information
    </div>
    <form (ngSubmit)="updateCompany()" *ngIf="companyLogin" autocomplete="off" class="form">
        <div class="inputfield">
            <label>Name</label>
            <input [(ngModel)]="companyLogin.name" name="name" autocomplete="off" type="text" class="input">
        </div>
        <div class="inputfield">
            <label>Username</label>
            <input [(ngModel)]="companyLogin.username" name="username" autocomplete="off" type="text" class="input">
        </div>
        <div class="inputfield">
            <label>Email</label>
            <input [(ngModel)]="companyLogin.email" name="email" autocomplete="off" type="text" class="input">
        </div>
        <div class="inputfield">
            <label>Phone</label>
            <input [(ngModel)]="companyLogin.phone" name="phone" autocomplete="off" type="text" class="input">
        </div>
        <div class="inputfield">
            <label>Type Company</label>
            <select [(ngModel)]="companyLogin.typeCompany._id" name="typeCompany" class="form-select"
                aria-label="Default select example">
                <option *ngFor="let typeCompany of typeCompanies" value="{{ typeCompany._id }}">
                    {{typeCompany.name}}
                </option>
            </select>
        </div>
        <div class="mt-5 modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccount">
                <i class="fa fa-trash-alt" aria-hidden="true"></i> Delete Account
            </button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-refresh" aria-hidden="true"></i> Update Account
            </button>
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#uploadImage"><i
                    class="fa fa-file-image-o" aria-hidden="true"></i>
                Upload Image
            </button>
        </div>
    </form>
</div>

<!--MODAL IMAGE-->
<div class="modal fade" id="uploadImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                    Upload Image:
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="image" class="form-label">
                        <label for="image" class="form-label">Select Image</label>
                        <input (change)="filesChange($event)" type="file" class="form-control" id="image">
                    </label>
                </div>
            </div>
            <div class=" modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Save</button>
                <button (click)="uploadImage()" type="submit" data-bs-dismiss="modal" class="btn btn-success">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                    Upload Image
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete Account:
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input [(ngModel)]="password" placeholder="Enter your Password for Delete" name="password" type="password" class="form-control">
                </div>
                <div class=" modal-footer justify-content-center">
                    <button (click)="cleanForm()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        Cancel</button>
                    <button (click)="deleteAccount()" type="submit" data-bs-dismiss="modal" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete Account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>