<!--TÍTULO DEL COMPONENTE-->
<div class="head-title">
    <div class="left">
        <h1>
            &nbsp;<i class="fas fa-store" aria-hidden="true"></i> Type Company
        </h1>
        <hr>
    </div>
</div>


<!-- DESPLIEGA LA BÚSQUEDA -->
<div class="form-input mt-5">
    <input [(ngModel)]="searchTypeCompany" placeholder="Search...">
    <button type="submit" class="search-btn"><i class='fa fa-search'></i></button>
</div>
<br>


<!--BOTONES DE ACCESO RÁPIDO-->
<div class="text-center mt-2 mb-2">
    <button class="btn btn-success btn-icon-split" data-bs-toggle="modal" data-bs-target="#addTownShip">
        <span class="icon">
            <i class="fas fa-store" aria-hidden="true"></i>
        </span>
        <span class="text">Add Type Company</span>
    </button>
    <button routerLink="/admin/home" class="btn btn-primary btn-icon-split">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
        <span class="text">Back Home</span>
    </button>
</div>
<hr>


<!--CARDS DE TYPE COMPANY-->
<div>
    <div class="container">
        <div class="products-container">
            <div *ngFor="let typeCompany of typeCompanies | searchTownship:searchTypeCompany" class="product"
                data-name="p-1">
                <h5 class="card-title">{{typeCompany.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ typeCompany.description}} </h6>
                <button (click)="getTypeCompanies(typeCompany._id)" class="btn btn-success m-3" data-bs-toggle="modal"
                    data-bs-target="#updateTownship" class="btn btn-warning m-2" aria-controls="offcanvasExample">
                    <i class="fa fa-pencil" aria-hidden="true">
                    </i> Update
                </button>
                <button (click)="deleteTypeCompany(typeCompany._id)" class="btn btn-danger"> <i class="fa fa-trash"
                        aria-hidden="true"></i>
                    Delete</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL ADD TYPE COMPANY-->
<div class="modal fade" id="addTownShip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-store" aria-hidden="true"></i>
                    &nbsp; Add Type Company:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="saveTypeCompany(addTypeCompanyForm)" #addTypeCompanyForm="ngForm">
                    <div class="mb-3">
                        <label for="nameTeam" class="form-label">Name</label>
                        <input [(ngModel)]="typeCompany.name" name="name" type="text" class="form-control"
                            id="nameTeam">
                    </div>
                    <div class="mb-3">
                        <label for="nameTeam" class="form-label">Description</label>
                        <input [(ngModel)]="typeCompany.description" name="description" type="text" class="form-control"
                            id="nameTeam">
                    </div>

                    <div class=" modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Save</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"><i class="fa fa-floppy-o"
                                aria-hidden="true"></i> Save Type Company
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>


<!-- MODAL UPDATE TOWNSHIP -->
<div class="modal fade" id="updateTownship" tabindex="-1" aria-labelledby="updateTownship" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Update Type Company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updateTypeCompany()" *ngIf="typeCompanyUpdate">
                    <div class="mb-3">
                        <label for="nameUpdate" class="form-label">Name</label>
                        <input [(ngModel)]="typeCompanyUpdate.name" name="name" type="text" class="form-control"
                            id="nameUpdate" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionUpdate" class="form-label">Description</label>
                        <input [(ngModel)]="typeCompanyUpdate.description" name="descripcion" type="text"
                            class="form-control" id="descriptionUpdate" aria-describedby="emailHelp">
                    </div>
                    <div class=" modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Update</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"><i class="fa fa-floppy-o"
                                aria-hidden="true"></i> Update Type Company
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>